@media only screen and (min-width: 38rem) {
  .allcards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }

  .allcards h2 {
    grid-column: 2 span 2;
  }

  .allcards section:first-of-type {
    grid-row: 1 / span 2;
  }
}

@media only screen and (max-width: 38rem) {
  nav {
    display: none;
    position: absolute;
    top: 55px;
    right: 5px;
    width: auto;
  }

  .name {
    margin-left: -30px;
  }

  header button {
    display: block;
    margin: auto;
  }

  .name {
    align-content: center;
  }

  nav ul {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }

  nav ul li {
    text-align: center;
    list-style: none;
  }

  nav ul li a {
    padding: 2px;
  }

  button::before {
    content: "\2630";
  }

  button.open::before {
    content: "\2715";
  }
}
