* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: black;
  width: 100%;
  height: auto;
  padding-top: 10px;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
  margin-left: 30px;
  vertical-align: middle;
}

nav ul li a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 15px;
}

header {
  position: relative;
}

.logo {
  float: left;
  width: 120px;
  height: 120px;
  padding-left: 15px;
  margin-top: -10px;
}

.name {
  width: 150px;
  padding: 20px 50%;
  color: white;
}

main {
  width: 760px;
  padding: 50px 20px;
  margin: 0 auto;
}

.dark {
  padding: 5px;
  color: rgba(255, 255, 255, 1);
  font-variation-settings: "GRAD" -25;
  cursor: pointer;
}

.logo-background {
  background-color: rgba(0, 0, 255, 0.577);
  height: 100px;
}

li {
  list-style: none;
}

section {
  margin: 10px;
}

.box {
  border: 1px solid;
  width: 320px;
  border-radius: 5px;
}

.box-main {
  border: 1px solid;
  width: 320px;
  border-radius: 5px;
  padding-bottom: 2px;
}

.box-title {
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 255, 0.577);
  font-size: x-large;
}

.box-title1 {
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 255, 0.577);
  font-size: x-large;
}

.box-title2 {
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 255, 0.577);
  font-size: x-large;
}

ul li {
  padding-left: 10px;
}

.box1 {
  height: 170px;
}

.box2 {
  margin-left: 350px;
  margin-top: -180px;
  height: auto;
}

.b2-content {
  padding: 10px;
  height: auto;
}

.box3 {
  margin-left: 350px;
  height: auto;
}

footer {
  background-color: rgba(0, 0, 255, 0.577);
  height: 70px;
  text-align: center;
}

.footer-text {
  text-align: center;
  font-size: large;
  color: white;
  padding-bottom: 10px;
}

.flag {
  width: 40px;
  padding-top: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  nav,
  footer {
    grid-template-columns: repeat(1, 1fr);
  }
  nav {
    height: auto;
  }

  body main {
    flex-direction: column;
  }

  .box-title1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .home-title {
    flex-direction: column;
  }

  nav a {
    display: block;
    padding: 15px;
  }

  .name {
    height: auto fit-content;
  }
}
